a {color:#0369A1; font-weight:400; text-decoration:none;}
a:hover {color:#0d5c2e; text-decoration:none;}
body {
    font-size: 0.9rem;
    line-height: 1.7;
    background: #FFFFFF;
}

.text-small {
    font-size: 0.85rem;
    line-height: 1.5;
}

.index {
    font-family: "Open Sans", Segoe,"Segoe UI", "Lucida Sans Unicode","Lucida Grande", "Avenir","Seravek","Ubuntu",
        "DejaVu Sans","Trebuchet MS",Verdana,Arial,sans-serif;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 800px;
}

.align-justify {
    text-align: justify;
}

.navs {
    font-size: 1rem;
}
.navs a{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* publication page color schema */

.pubs a {
    color: #0369A1;
    text-decoration: none;
    background-color: transparent;
  }

  .pubs a:hover {
    color: #0d5c2e;
    text-decoration: underline;
  }
  ul {
    list-style: none;
    padding-left: 1rem;
  }
  

a.label {
display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}
a.label:hover{
    text-decoration: none;
    color: #fff;
}

a.label.code{
    background-color: #0369A1;
    border-color: #0369A1;
}
    a.label.code:hover{
        background-color:#0d5c2e;
        border-color: #0d5c2e;
    }

a.label.project{
    background-color: #FB8500;
    border-color: #FB8500;
}
a.label.project:hover{
    background-color: #EA7315;
    border-color: #EA7315;
}

a.label.misc{
    background-color: #06B6D4;
      border-color: #06B6D4;
}
a.label.misc:hover{
    background-color: #0891B2;
    border-color: #0891B2;
}

a.label.blog{
    background-color: #059669;
    border-color: #059669;
}
a.label.blog:hover{
    background-color: #047857;
    border-color: #047857;
}

[v-cloak] { display:none; }

.index-left{
    margin-right: -2rem;
    margin-left: 2rem;
}


.index-right{
    margin-left: -2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 576px) {
    .index-left{
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .index-right{
        margin-left: 0rem;
        margin-right: 0rem;
    }
  }

